<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Maison-Autelier</title>

	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
	<script src="/static/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script style="type/script"> 
$(function () {
	$('[data-toggle="tooltip"]').tooltip()
})
</script>
</head>
<body>
	<div class="container-fluid">
	<!-- navigation bar -->
		<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
	  	  	<a class="navbar-brand col-2" href="{{ url_for('home') }}">
	  	  	<img src="/static/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
	  	  	Maison-Autelier</a>
		<ul class="navbar-nav col-9">
	      		<li class="nav-item">
	        	  <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Online Resources" href= "{{ url_for('fw19') }}">F/W - 19 Preview</a>
	      		</li>
			    <li class="nav-item">
			      <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Hotlines" href="{{ url_for('ss19') }}">S/S - 19</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link active" data-toggle="tooltip" data-placement="bottom" title="Near Me" href="{{ url_for('fw18') }}">F/W - 18</a>
			    </li>
		</ul>
		<ul class="navbar-nav col-1">
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('about')}}">About</a>
			</li>
		</ul>
		</nav>
		<div class="px-3 py-3 pt-md-5 pb-md-4 mt-5 text-center">
		<h1 class="display-4">Fall Winter 2018 Ready To Wear </h1>
		<p class="lead col-md-6 mx-auto">Jumpsuits, cotton dresses, oversized dress-shirts. Who said women can’t wear fashion comfortably? Our new collection is here to dress women so they are comfortable in their own skins.</p>
		</div>
		<!-- Name One -->
		<div class="mt-4 bg-light">
			<div class="row">
				<div class="col-6 my-auto text-center">					
					<div class="dropup align-self-center">
					  <h2 class="col-4 mx-auto align-self-center" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Simplistic is The Key
					  </h2>
				  <div class="p-0 dropdown-menu" aria-labelledby="dropdownMenuButton" id="input2center">
					 <form action="/fw18" method = "POST">
					 	<div class="input-group flex-nowrap">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="addon-wrapping"> 📞 </span>
					  </div>
				        <input class="form-control align-self-center" placeholder="Enter # for more info" type="text" name="phone_number"> 
					</div>
				    </form>
				  </div>
				</div>
				<p class="col-6 mx-auto text-center">We bring contemporary vibes into this dress through playful stripes and the juxtaposition of the dark black and light pink colors. This piece is the definition of modern women: soft, yet strong.</p ></div>
    			<div class="col-6"> <img src="/static/fw-18-1.jpg" width="700" height="800" alt=""> </div>
			</div>
		</div>
		<!-- Name Two -->
		<div class="mx-auto">
			<div class="row">
				<div class="col-6"><img src="/static/fw-18-2.jpg" width="650" height="900" alt=""></p></div>
    			<div class="col-6 my-auto mx-auto text-center"> 
    				<div class="dropup align-self-center">
					  <h2 class="col-4 mx-auto align-self-center" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Elegance
					  </h2>
				  <div class="p-0 dropdown-menu" aria-labelledby="dropdownMenuButton" id="input2center">
					 <form action="/fw18" method = "POST">
					 	<div class="input-group flex-nowrap">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="addon-wrapping"> 📞 </span>
					  </div>
				        <input class="form-control align-self-center" placeholder="Enter # for more info" type="text" name="phone_number"> 
					</div>
				    </form>
				  </div>
				</div>
    				<p class="col-9 mx-auto text-center">Casual wear? Piece for a cocktail party? Something for going to the office? You name it, this jumpsuit has it all. 
						</p></div>
			</div>
		</div>
	</div>

<!-- 	<a id="home"><img class="image_on" src="images/cart_grey.png" alt="logo" /><img class="image_off" src="images/cart_black.png" alt="logo" /></a> -->
</body>
</html>